@import "reset.css";
* {
  box-sizing: border-box;
}
.hero {
  background: black url(images/1.jpg) center / cover;
}
@media (max-width: 1024px) {
  .hero {
    background: black url(images/1.jpg) center / cover;
  }
}
@media (max-width: 768px) {
  .hero {
    background: black url(images/1.jpg) center / cover;
  }
}
html {
  height: 100%;
}
body {
  color: white;
  font-size: 4rem;
  height: 100%;
}
section {
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
  height: 100%;
}
.wrapper__clock {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.js-form-toDo input {
  background-color: transparent;
  width: 30rem;
  height: 3rem;
  border: none;
  border-bottom: solid white 3px;
  text-align: center;
  font-size: 1rem;
  color: white;
}
.js-form-toDo input::placeholder {
  color: white;
  font-size: 1rem;
}
.form,
.grettings {
  display: none;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
